.Icons {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}

.Icon {
  display: inline-flex;
  align-self: center;
  position: relative;
  height: 1em;
  width: 1em;

  &__svg {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    bottom: -0.125em;
    position: absolute;
  }
}