@import "../../src/app";

.Book {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;

  &__swipeable {
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__canvas {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    transition: transform 0.3s ease-out;
  }

  &__page {
    position: relative;
  }

  &__screenTooltip {
    position: absolute;
    bottom: $progress-bar-height;
    left: 0;
    width: 100%;
    background-color: $book-translation-balloon-tooltip-bg-color;
    color: $book-translation-balloon-tooltip-font-color;
    font-size: $book-translation-balloon-tooltip-font-size;
    padding: $book-translation-balloon-tooltip-text-padding;
  }

  &__progressBar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  &__endingPage {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #FFF;
    overflow-x: hidden;
    overflow-y: auto;

    &__closeBtn {
      @include btn();
      border-radius: 0;
      text-align: left;
    }

    &__content {
      position: relative;
    }
  }
}